.Paragraph{
  position: relative;
  width: 800px;
  text-align: center;
  padding: 50px 40px 35px 40px;
  color: rgb(0, 0, 0);
}


@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Playfair+Display:wght@800&family=Roboto+Slab&display=swap');

.Heading1{
  position: relative;
  top: 30px;
  right: 250px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Slab', serif;
  font-size: 75px;
  font-weight: 300;
  color: rgb(15, 14, 14);
}

.Instructions{
  position: relative;
  right: 180px;
  bottom: 50px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Slab', serif;
  color: rgb(0, 0, 0);
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
.Checkbox{
 width: fit-content;
 
}