table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  th,
  td {
    text-align: center;
    padding: 10px;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  p {
    text-align: center;
  }
  